/* set font family */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
.dropdown-menu
.navbar {
    font-family: "Open Sans"!important;
    font-weight: 300;
}

/* Navbar settings */
.navbar-outer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    border-bottom-color: #777;
    border-bottom-width: 1px;
}

.navbar-brand {
    font-weight: 600;
}

.dropdown-menu {
    box-shadow: none;
    display: none;
}

/* Modify container width to never expand beyond 800px */

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}

/* Settings for archive post display */

.archive:hover, .archive:active { 
    background-color: transparent; 
}

.archive {
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: #9c9c9c;
    background-color: #fff;
    transition: background-color .2s linear;
}

.fade-wrapper {
    background-color: #e7e7e7;
}

.archive a {
    text-decoration: none;
    color: inherit;
}

.box-wrap {
    width:auto;
    max-width: 500px;
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: #e7e7e7;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    color: #333;
}

.box-wrap a {
    text-decoration: none;
    color: inherit;
    z-index: 0;
}

.box-wrap h3 {
    margin-top: 5px;
}

.box-wrap img {
    width: 100%;
    height: auto;
}

#toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
    display: none;
    z-index: 1;
    overflow: hidden;
  }

#title-up {
    position: absolute;
    z-index: 3;
    background: #ccc;
    width: 100%;
}

#post_body_cover {
    position: absolute;
    height: 100%;
    width: 100;
    z-index: 5;
    overflow: hidden;
}

#post_body_cover a {
    display: block;
    z-index: 6;
}

#post_body_cover img {
    height: 1000px;
    width: 1000px;
}

/* Image gallery and modal settings */

.image-container {
    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.crop {
    width: 150px;
    height: 150px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin:10px;
    zoom: 1;
}

.crop img {
    width: 300px;
    height: relative;

}

.modal-header {
	border-bottom: none;
}

.modal-footer {
    border-top: none;
    margin-top: 0px;
    padding: 0px;
}

/* General styling */

blockquote {
    font-size: 14px;
    border-left: none;
    font-family: inherit;
    font-style: italic;
}

body {
    background-color: #001527;
}
.container {
    background-color: transparent;
    color: #ccc;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

strong {
    font-weight: 600;
}


/* Settings for responsive video inserts...use {{ include video.html }} with
yaml front matter of video_url. Works for Youtube video includes */

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

#footer p {
    text-align: center;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff") format("woff");
}



