	<div class='box-wrap'>
    <div id="toggle">
      <!--<div id='post_body_cover'>
        <a href="{{ post.url }}"><img src="/img/transparent.png"></a>
      </div>-->
      <a href="{{ post.url }}"><div id='post_body'>
        <div class='post_content'>
          <span class='more'>Read More</span>
        </div>
      </div></a>
	</div>
	<a href="{{ post.url }}">
    <div id='title-up'>
    <h3>{{ post.title }}</h3></div>
	<img src='/img/{{ post.cover_photo }}.jpg'  alt="{{ img.img-title }}"/>
</a>
 </div>

 
