	<div class='box-wrap'>
		<div id="toggle">

		<a href="{{ post.url }}" style="display:block;">
  		<h3>{{ post.title }}</h3>
  		<p>{{ post.date | date: "%A, %B %-d, %Y" }}</p>
      <p>---</p>
      <div id='post_body'>
        {{ post.content }}
      </div>

 	 	</a>
	</div>
	<div id='title-up'>
    <a href="{{ post.url }}" style="display:block;">
    <h3>{{ post.title }}</h3></div>
	<img src='/img/{{ post.cover_photo }}.jpg'  alt="{{ img.img-title }}"/>
</a>
 </div>

<script>
$('.box-wrap').hover(function() {
  $(this).children( "#toggle" ).stop().show("slide", { direction: "left" }, 200);
},
function(){
	$(this).children( "#toggle" ).stop().hide("slide", { direction: "left" }, 200);
});
</script> 
