{% if page.gallery %}

	{% if page.img %}
<div class='row'>
			{% assign column = 12 | divided_by: page.gallery %}
			{% for img in page.img %}
				<div class='hidden' >{% increment t %}</div>
				<div class ='col-xs-{{ column }}'>
					<a href="#" data-toggle="modal" data-target="#{{ t }}"><img class='img-rounded' align='center' src='/img/{{ img }}' style='height:auto; width:100%; max-width:1000px; max-height:1000px; padding:0px;' /></a>
				</div>
			{% endfor %}
</div>
	{% endif %}
{% endif %}
