---
---
/* set font family */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
.dropdown-menu
.navbar {
    font-family: 'Roboto Slab'!important;
    font-weight: 300;
    color: #5E5E5E;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    color: inherit;
    font-family: 'Roboto Slab';
    font-weight: 700;
}

body {
font-family: 'Roboto';
font-size: 16px;
}

/* Navbar settings */

.nav-wrapper {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
    margin-right: auto;
    margin-left: auto;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}
/* title */
.navbar-default .navbar-brand {
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5E5E5E;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f1c40f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.dropdown-menu {
    box-shadow: none;
    display: none;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

/* Modify container width to never expand beyond 800px */

@media (min-width: 1200px) {
  .container, .nav-wrapper {
    width: 800px;
  }
}

@media (min-width: 992px) {
  .container, .nav-wrapper {
    width: 800px;
  }
}

@media (min-width: 768px) {
  .container, .nav-wrapper {
    width: 750px;
  }
.navbar-default .navbar-brand {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    }
}

/* Settings for archive post display */

.archive:hover, .archive:active { 
    background-color: transparent; 
}

.archive {
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: #9c9c9c;
    background-color: #fff;
    transition: background-color .2s linear;
}

.fade-wrapper {
    background-color: #e7e7e7;
}

.archive a {
    text-decoration: none;
    color: inherit;
}

.box-wrap {
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: #e7e7e7;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    color: #333;
}

.box-wrap a {
    text-decoration: none;
    color: inherit;
    z-index: 0;
}

.box-wrap h3 {
    margin-top: 5px;
}

.box-wrap img {
    width: 100%;
    height: auto;
}

#toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0%, 0%, 0%, 0.3);
    display: none;
    z-index: 1;
    overflow: hidden;
    color: #fff;
  }

#title-up {
    position: absolute;
    z-index: 3;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    color: #fff;
}

#post_body_cover {
    position: absolute;
    height: 100%;
    width: 100;
    z-index: 5;
    overflow: hidden;
}

#post_body_cover a {
    display: block;
    z-index: 6;
}

#post_body_cover img {
    height: 1000px;
    width: 1000px;
}

#post_body {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.post_content {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;


}

.more {
    border: 1px solid #fff;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
}

.more:hover {
    background-color: #fff;
    color: #000;
}

/* Image gallery and modal settings */

.image-container {
    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.crop {
    width: 150px;
    height: 150px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin:10px;
    zoom: 1;
}

.crop img {
    width: 300px;
    height: relative;

}

.modal-header {
	border-bottom: none;
}

.modal-footer {
    border-top: none;
    margin-top: 0px;
    padding: 0px;
}

/* General styling */

blockquote {
    font-size: 14px;
    border-left: none;
    font-style: italic;
}

body {
    background-color: #fff;
}
.container {
    background-color: transparent;
    color: #1D1D1D;
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

strong {
    font-weight: 600;
}


/* Settings for responsive video inserts...use {{ include video.html }} with
yaml front matter of video_url. Works for Youtube video includes */

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

#footer p {
    text-align: center;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url('/fonts/opensans.woff') format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('/fonts/opensans2.woff') format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url('/fonts/opensans4.woff') format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('/fonts/opensans3.woff') format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff") format("woff");
}



